@media screen and (min-width: 1200px) {
    .container{
        max-width: 1158px;
    }
    /* Features */
    
    .features{
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .features_list{
        display: flex;
        gap: 24px;
        flex-wrap: nowrap;
        flex-direction: row;

    }
    .features_subtitle{
        text-align: start;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
    }
    .features_descr{
        width: 264px;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;

    }
    .features_item_icon{
        display: flex;
        width: 264px;
        height: 112px;
        border-radius: 4px;
        background-color: var(--light-mode-bg);
        margin-bottom: 8px;
        justify-content: center;
        align-items: center;
    }

    /* OUR_TEAM */
    
    .team{
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .team_title{
        width: 163px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 72px;
    }
    .team_list{
        display: flex;
        flex-wrap: nowrap;
        gap: 24px;
    }
    .team_item{
        width: 264px;
    }
    .team_text{
        padding: 32px 16px;
    }

    /* Customers */

    .customers_list{
        gap:24px;
    }
    .customers_item{
        width: calc((100% - 120px) / 6)
    }
}