ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
h1,h2,h3,p{
    margin: 0;
}
a{
    text-decoration: none;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
address{
    font-style: normal;
}
button{
    cursor:pointer;
}