:root{
    --main-color: #2E2F42;
    --active-color: #404BBF;
    --noactive-btn:#4D5AE5;
    --light-mode-bg:#F4F4FD;
    --subtle-backgrounds:#E7E9FC;
    --helper-text:#8E8F99;
    --body-text:#434455;
    --body-color:#FFFFFF;
    --green-icon:#31D0AA;
}
body{
    font-family: 'Roboto', sans-serif;
    color: var(--main-color);
    background-color: var(--body-color);
}
.container{
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
.header{
    border-bottom: 1px solid var(--subtle-backgrounds);
}
.header_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_navigation{
    display: flex;
    align-items: center;
    gap:76px;
}
.header_logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    color: var(--main-color);
}
.logo_styles:hover,
.logo_styles:focus{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    color: var(--active-color);
}
.web{
    color: var(--noactive-btn);
}
.studio_footer{
    color: var(--light-mode-bg);
}
.header_list{
    display: flex;
    gap: 40px;
}
.header_links{
    display: block;
    padding: 24px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-color);
}
.header_links:hover,
.header_links:focus{
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--active-color);
}
.address_links{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--body-text);
}
.address_links:hover,
.address_links:focus{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--active-color);
}
.hero{
    background-color: var(--main-color);
    background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),url(../images/backgrounds/people_office_bg.jpeg);
    background-size: cover; 
    background-repeat: no-repeat;
    padding-top: 188px;
    padding-bottom: 188px;
}
.hero_title{
    width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--body-color);
    text-align: center;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
}
.button{
    display: block;
    padding: 16px 32px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--body-color);
    background: var(--noactive-btn);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    background: var(--noactive-btn);
    margin-right: auto;
    margin-left: auto;
}
.button:hover,
.button:focus{
    display: block;
    padding: 16px 32px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--body-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border:none;
    background: #404BBF;
    margin-right: auto;
    margin-left: auto;
}
.features{
    padding-top: 120px;
    padding-bottom: 120px;
}
.features_list{
    display: flex;
    justify-content: space-between;
}
.features_item_icon{
    display: flex;
    width: 264px;
    height: 112px;
    border-radius: 4px;
    background-color: var(--light-mode-bg);
    margin-bottom: 8px;
    justify-content: center;
    align-items: center;
}
.features_item{
    max-width: 264px;
}
.services{
    padding-bottom: 120px;
}
.services_list{
    display: flex;
    gap: 24px;
}
.service_title{
    max-width: 324px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
}
.team{
    padding-top: 120px;
    padding-bottom: 120px;
}
.team_title{
    max-width: 163px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
}
.team_list{
    display: flex;
    gap: 24px;
}
.team_item{
    background-color: var(--body-color);
}
.visually-hidden{
    position: absolute;
    white-space: nowrap;
    width: 1px; 
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px; 
}
.sub_title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    color: var(--main-color);
}
.description{
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}
.team{
    background-color: var(--light-mode-bg);
}
.team_text{
    text-align: center;
    padding: 32px 0;

}

.social_list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 24px;
    margin-top: 8px;
}
.social_link{
    display: flex;
    width: 40px;
    height: 40px;
    background-color: var(--noactive-btn);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}
.social_link:hover,
.social_link:focus{
    display: flex;
    width: 40px;
    height: 40px;
    background-color: var(--active-color);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}
.team_social_icon{
    fill: var(--light-mode-bg);
}
.customers{
    padding-top: 130px;
    padding-bottom: 120px;
}
.customers_title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
    color: var(--main-color);
}
.customers_list {
    display: flex;
    justify-content: center;
}

.customers_item {
    width: 168px;
    height: 88px;
}

.customers_item:not(:last-child) {
    margin-right: 24px;
}

.customers_link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid var(--helper-text);
    border-radius: 4px;
    fill: var(--helper-text);
}

.customers_link:hover,
.customers_link:focus {
    border-color: var(--active-color);
}

.customers_link:hover .customers_icon,
.customers_link:focus .customers_icon {
    fill: var(--active-color);
}
.footer_section{
    background-color: var(--main-color);
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer_flex_container{
    display: flex;
}
.social_media{
    display: flex;
    flex-direction: column;
    margin-left: 120px;
}
.social_media_text{
    color: var(--body-color);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}
.social_media_list{
    display: flex;
    flex-direction: row;
    gap: 16px;
}
.social_media_item{
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
}
.social_media_link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    fill: var(--light-mode-bg);
}
.social_media_item:hover,
.social_media_item:focus {
    background-color: var(--green-icon);
}
.footer_description{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--subtle-backgrounds);
    width: 264px;
    margin-top: 16px;
}
.buttons{
    padding: 12px 24px;
    background-color: var(--light-mode-bg);
    border: 1px solid var(--subtle-backgrounds);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--noactive-btn);
    text-align: center;
    letter-spacing: 0.04em;
}
.buttons:hover,
.buttons:focus{
    padding: 12px 24px;
    background-color: var(--active-color);
    box-sizing: border-box;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--body-color);
    letter-spacing: 0.04em;
}
.portfolio{

    padding-top: 96px;
}
.btn_list{
    display: flex;
    margin-bottom: 72px;
    justify-content: center;
    gap: 24px;
}
.photo_list{
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap:24px;
}
.photo_item{
    background-color: var(--body-color);
}
.photo_text{
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    border: 1px solid var(--subtle-backgrounds)
}

.photo_list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 120px;
}

.photo_notes{
    text-align: left;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    border-left: 1px solid var(--subtle-backgrounds);
    border-bottom: 1px solid var(--subtle-backgrounds);
    border-right: 1px solid var(--subtle-backgrounds);
}
.photo-item-link {
    display: block;
    color: var(--body-text);
}
.photo-item-link:hover,
.photo-item-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}