:root{
    --main-color: #2E2F42;
    --active-color: #404BBF;
    --noactive-btn:#4D5AE5;
    --light-mode-bg:#F4F4FD;
    --subtle-backgrounds:#E7E9FC;
    --helper-text:#8E8F99;
    --body-text:#434455;
    --body-color:#FFFFFF;
}

body{
    font-family: 'Roboto', sans-serif;
    color: var(--main-color);
    background-color: var(--body-color);
}

.list{
    list-style: none;
}

.links{
    text-decoration: none;
}

.header_logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    color: var(--main-color);
}

.logo_styles:hover,
.logo_styles:focus{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    color: var(--active-color);
}

.web{
    color: var(--noactive-btn);
}

.studio_footer{
    color: var(--light-mode-bg);
}

.header_links{
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-color);
}

.header_links:hover,
.header_links:focus{
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--active-color);
}

.address_links{
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--body-text);
}

.address_links:hover,
.address_links:focus{
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--active-color);
}

.hero{
    background-color: var(--main-color);
}

.hero_title{
    width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--body-color);
}

.button{
    padding: 16px 32px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--body-color);
    background: var(--noactive-btn);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    background: var(--noactive-btn);
    cursor: pointer;
}

.button:hover,
.button:focus{
    padding: 16px 32px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--body-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border:none;
    background: #404BBF;
    cursor: pointer;
}

.visually-hidden{
    position: absolute;
    white-space: nowrap;
    width: 1px; 
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px; 
}

.sub_title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.description{
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.team{
    background-color: var(--light-mode-bg);
}
.footer{
    background-color: var(--main-color);
}   
.footer_description{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--subtle-backgrounds);
}

.buttons{
    padding: 12px 24px;
    background: var(--light-mode-bg);
    border: none;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--noactive-btn);
    text-align: center;
    letter-spacing: 0.04em;
    cursor: pointer;
}
.buttons:hover,
.buttons:focus{
    padding: 12px 24px;
    background: var(--active-color);
    border-radius: 4px;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--body-color);
    text-align: center;
    letter-spacing: 0.04em;
    cursor: pointer;
}