:root{
    --main-color: #2E2F42;
    --active-color: #404BBF;
    --noactive-btn:#4D5AE5;
    --light-mode-bg:#F4F4FD;
    --subtle-backgrounds:#E7E9FC;
    --helper-text:#8E8F99;
    --body-text:#434455;
    --body-color:#FFFFFF;
    --green-icon:#31D0AA;
    --modal-background:#2E2F42;
    --modal-blue-background:#2E2F4266;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
h1,h2,h3,p{
    margin: 0;
}
a{
    text-decoration: none;
}
img{
    display: block;
    width: 100%;
    height: auto;
}
address{
    font-style: normal;
}
button{
    cursor:pointer;
}
body{
    font-family: 'Roboto', sans-serif;
    color: var(--main-color);
    background-color: var(--body-color);
}
.container{
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
.header{
    border-bottom: 1px solid var(--subtle-backgrounds);
}
.header_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_navigation{
    display: flex;
    align-items: center;
    gap:76px;
}
.active::after{
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    bottom: -1px;
    background-color: var(--active-color);
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 2px;
}
.header_logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    color: var(--main-color);
}
.logo_styles:hover,
.logo_styles:focus{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    color: var(--active-color);
}
.web{
    color: var(--noactive-btn);
}
.studio_footer{
    color: var(--light-mode-bg);
}
.header_list{
    display: flex;
    gap: 40px;
}
.header_links{
    display: block;
    position: relative;
    padding: 24px 0;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header_links:hover,
.header_links:focus{
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--active-color);
}
.address_links{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--body-text);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address_links:hover,
.address_links:focus{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--active-color);
}
.hero{
    max-width: 1440px;
    margin: 0 auto;
    background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),url(../images/backgrounds/people_office_bg.jpeg);
    background-size: cover; 
    background-repeat: no-repeat;
    padding-top: 188px;
    padding-bottom: 188px;
}
.hero_title{
    width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--body-color);
    text-align: center;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
}
.button{
    display: block;
    padding: 16px 32px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--body-color);
    background: var(--noactive-btn);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    background: var(--noactive-btn);
    margin-right: auto;
    margin-left: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus{
    background: #404BBF;
}
.features{
    padding-top: 120px;
    padding-bottom: 120px;
}
.features_list{
    display: flex;
    justify-content: space-between;
}
.features_item_icon{
    display: flex;
    width: 264px;
    height: 112px;
    border-radius: 4px;
    background-color: var(--light-mode-bg);
    margin-bottom: 8px;
    justify-content: center;
    align-items: center;
}
.features_item{
    width: 264px;
}
.services{
    padding-bottom: 120px;
}
.services_list{
    display: flex;
    gap: 24px;
}
.service_title{
    width: 324px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
}
.team{
    padding-top: 120px;
    padding-bottom: 120px;
}
.team_title{
    width: 163px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
}
.team_list{
    display: flex;
    gap: 24px;
}
.team_item{
    background-color: var(--body-color);
}
.visually-hidden{
    position: absolute;
    white-space: nowrap;
    width: 1px; 
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px; 
}
.sub_title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    color: var(--main-color);
}
.description{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--body-text);
}
.title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}
.team{
    background-color: var(--light-mode-bg);
}
.team_text{
    text-align: center;
    padding: 32px 0;

}
.team_item{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}
.social_list{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 24px;
    margin-top: 8px;
}
.social_link{
    display: flex;
    width: 40px;
    height: 40px;
    background-color: var(--noactive-btn);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social_link:hover{
    display: flex;
    width: 40px;
    height: 40px;
    background-color: var(--noactive-btn);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}
.social_link:hover,
.social_link:focus{
    display: flex;
    width: 40px;
    height: 40px;
    background-color: var(--active-color);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}
.team_social_icon{
    fill: var(--light-mode-bg);
}
.customers{
    padding-top: 130px;
    padding-bottom: 120px;
}
.customers_title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
    color: var(--main-color);
}
.customers_list {
    display: flex;
    justify-content: center;
}

.customers_item {
    width: 168px;
    height: 88px;
}

.customers_item:not(:last-child) {
    margin-right: 24px;
}

.customers_link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid var(--helper-text);
    border-radius: 4px;
    fill: var(--helper-text);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers_link:hover,
.customers_link:focus {
    border-color: var(--active-color);
}

.customers_link:hover .customers_icon,
.customers_link:focus .customers_icon {
    fill: var(--active-color);
}
.footer_section{
    background-color: var(--main-color);
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer_flex_container{
    display: flex;
}
.social_media{
    margin-left: 120px;
}
.social_media_text{
    color: var(--body-color);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}
.social_media_list{
    display: flex;
    gap: 16px;
}
.social_media_item{
    width: 40px;
    height: 40px;
}
.social_media_link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    fill: var(--light-mode-bg);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social_media_link:hover,
.social_media_link:focus{
    background-color: var(--green-icon);
}
.footer_description{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--subtle-backgrounds);
    width: 264px;
    margin-top: 16px;
}
.buttons{
    padding: 12px 24px;
    background-color: var(--light-mode-bg);
    border: 1px solid var(--subtle-backgrounds);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--noactive-btn);
    text-align: center;
    letter-spacing: 0.04em;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.buttons:hover,
.buttons:focus{
    background-color: var(--active-color);
    color: var(--body-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-color: var(--active-color);
}
.portfolio{

    padding-top: 96px;
}
.btn_list{
    display: flex;
    margin-bottom: 72px;
    justify-content: center;
    gap: 24px;
}
.photo_list{
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap:24px;
}
.photo_item{
    background-color: var(--body-color);
}
.photo_text{
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    border: 1px solid var(--subtle-backgrounds);
    border-top: none;
}

.photo_list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 120px;
}

.photo_notes{
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    border-left: 1px solid var(--subtle-backgrounds);
    border-bottom: 1px solid var(--subtle-backgrounds);
    border-right: 1px solid var(--subtle-backgrounds);
}
.photo_item_link {
    display: block;
    color: var(--body-text);
    transition: transition 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.photo_item_link:hover,
.photo_item_link:focus{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.photo_item_wrapper {
    position: relative;
    overflow: hidden;
}
.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translate(0, 100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--light-mode-bg);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: var(--noactive-btn);
}
.photo_item_link:hover .overlay,
.photo_item_link:focus .overlay {
    transform: translate(0, 0);
}
.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: var(--modal-blue-background);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden{
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
    pointer-events: none;
}
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 408px;
    height: 576px;
    transform: scale(1) translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #FCFCFC;
    border-radius: 4px;
}
.modal_close_btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: var(--subtle-backgrounds);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal_close_btn_icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal_close_btn:hover,
.modal_close_btn:focus {
    background-color: var(--active-color);
}
.modal_close_btn:hover .modal_close_btn_icon,
.modal_close_btn:focus .modal_close_btn_icon {
    fill: #FFFFFF;
}