@media screen and (min-width: 768px) and (max-width: 1199px) {
    .container{
        max-width: 736px;
    }

    /* ======= HEADER ======== */
    .header{
        padding-top: 24px;
        padding-left: 16px;
        padding-right: 16px;
    }
    .header_container{
        display: flex;
        gap: 118px;
    }
    .header_navigation{
        gap:120px
    }
    .header_container{
        display: flex;
        justify-content: space-between;
        padding-right: 0;
        padding-left: 0;
    }
    .header_list{
        display: flex;
        position: relative;
        gap: 40px;
    }
    .header_links{
        padding-top: 0;
    }
    .address{
        display: flex;
        gap: 4px;
        padding-bottom: 10px;
    }
    .burger_button{
        display: none;
    }
    .header_logo{
        padding-bottom: 24px;
    }
    .address_links{
        font-weight: 400;
        font-size: 12px;
        line-height: 1.33;
    }
    .services{
        display: none;
    }
    /* Features */
    .features_container{
        width: 736px;
    }
    .features_list{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .features_item{
        display: flex;
        width: calc((100% - 24px) / 2);
        align-items: flex-start;
        flex-direction: column;
    }

    /* OUR_TEAM */

    .team{
        padding: 96px;
        padding-bottom: 104px;
    }
    .team_list{
        row-gap: 72px;
        column-gap: 24px;
    }
    .team_item{
        width: calc((100% - 24px) / 2);
    }
    .team_text{
        padding: 32px 16px;
    }

    /* Customers */

    .customers_list{
        column-gap: 24px;
        row-gap: 72px;
    }
    .customers_item{
        width: calc((100% - 48px) / 3)
    }
}